<!DOCTYPE html>
<html>

<style>
    [v-cloak] { display: none; }
</style>

<script type="module">

import { createApp } from 'https://unpkg.com/petite-vue?module'
import { api } from './lib.js'

api("mygroups", {}).then(mygroups => {
    createApp({
        mygroups,
    }).mount()
})

</script>

<div v-scope v-cloak>
    <div v-if="mygroups">
        Mes groupes
        <ul v-for="(attrs, id) in mygroups">
            <li><a :href="'/sgroup.html?id=' + id" :title="attrs.description">{{attrs.ou}}</a></li>
        </ul>
    </div>
    <div v-else>
        Chargement, veuillez patienter
    </div>
</div>

</html>
