<!DOCTYPE html>
<html>
<link rel="stylesheet" href="app.css">

<div v-scope v-cloak>
    <fieldset v-if="mygroups">
        <legend>Mes groupes</legend>
        <ul v-for="(attrs, id) in mygroups">
            <li>
                <span v-scope="SgroupLink(attrs, id)">
                    <span class="my-icon" v-html="svg.users"></span>
                </span>
            </li>
        </ul>
    </fieldset>
    <div v-else>
        Chargement, veuillez patienter
    </div>
</div>

<script type="module">

import { createApp } from '././node_modules/petite-vue'
import { api, svg, prepare_SgroupLink } from './lib.js'

api("mygroups", {}).then(mygroups => {
    createApp({
        mygroups, 
        SgroupLink: prepare_SgroupLink(), 
        svg,
    }).mount()
})

</script>

</html>
