<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    <link rel="stylesheet" href="app.css">
</head>
<body>

<div v-scope v-cloak>
    <div v-if="sgroup">
        <a href=".">Accueil</a> &gt;
        <span v-for="(parent, i) in sgroup.parents">
            <span v-scope="SgroupLink(parent)"></span>
            <span v-if="i < sgroup.parents.length">&gt;</span>
        </span>

        <h2>
            <span class="my-icon" v-html="sgroup.stem ? svg.folder : svg.users"></span>
            {{sgroup.ou}}
        </h2>

        <fieldset>
            <legend><h4>Description</h4></legend>
            <div class="description">{{sgroup.description}}</div>
        </fieldset>

        <p><i>Droits : {{sgroup.right}}</i></p>

        <fieldset v-if="sgroup.stem">
            <legend><h4>Contenu du dossier</h4></legend>
            <ul>
                <li v-scope="SgroupLink(attrs, id)" v-for="(attrs, id) in sgroup.stem.children">
                    <span class="my-icon" v-html="svg.folder"></span>
                </li>
            </ul>    
        </fieldset>
        <fieldset v-if="sgroup.group">
            <legend><h4>Membres directs</h4></legend>
            <ul>
                <li v-for="(attrs, dn) in sgroup.group.direct_members">
                    <span v-if="attrs.sgroup_id" v-scope="SgroupLink(attrs)">
                        <span class="my-icon" v-html="svg.folder"></span>
                    </span>
                    <span v-else v-scope="Subject(dn, attrs, sscfg)">
                        <span class="my-icon" v-html="svg.user"></span>
                    </span>
                </li>
            </ul>    
            
        </fieldset>

    </div>
</div>

<script type="module">

import { createApp } from '././node_modules/petite-vue'
import { api, searchParams, create_dynamic_template, to_valid_DOM_id, prepare_SgroupLink, svg } from './lib.js'

const Subject = (dn, subject, sscfg) => {
    const subject_cfg = sscfg.find(one => dn.endsWith(one.dn))
    const $template = '#' + to_valid_DOM_id(subject_cfg.dn)
    return { ...subject, $template }
}

const compute_default_vue_template = (one) => (
    one.display_attrs.map((attr, i) => 
        `<span ${i ? "v-else-if" : "v-if"}="${attr}">{{${attr}}}</span>`
    ).join('')
)

function create_subject_sources_templates(sscfg) {
    for (const one of sscfg) {
        const template = one.vue_template || compute_default_vue_template(one)
        create_dynamic_template(one.dn, template)
    }
}

api("sgroup", { id: searchParams().get('id') }).then(async sgroup => {
    const o = { 
        sgroup, Subject, 
        SgroupLink: prepare_SgroupLink(),
        svg,
    }
    if (sgroup.group) {
        o.sscfg = await api("config/subject_sources")
        create_subject_sources_templates(o.sscfg)
    }
    createApp(o).mount()
})

</script>

</body></html>
